/* Define custom font */
* {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5; /* Adjust the value to add more vertical spacing */
}


/* Reset default styling */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: 'Julia_Handwritten_2', Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Notebook styles */
.notebook-page {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 20px;
  line-height: 1.6;
  position: relative;
}

.notebook-header {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.links {
  display: flex;
  font-size: 30px;
  justify-content: center; /* Center the links horizontally */
  gap: 20px; /* Adjust the gap between links */
  margin-top: 10px; /* Add some top margin for spacing */
  font-size: 40px;
}

.heading {
  background-color: rgb(196, 186, 186)
}

.links1 {
  display: flex;
  font-size: 30px;
  justify-content: center; /* Center the links horizontally */
  gap: 20px; /* Adjust the gap between links */
  margin-top: 10px; /* Add some top margin for spacing */
  font-size: 40px;
}


.notebook-header h1 {
  font-size: 64px;
  color: #000;
  margin: 0;
}

.notebook-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.notebook-content a:hover img {
  transform: scale(1.1);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.notebook-content a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 200px;
}

.notebook-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Specific styling for .letters1 class */
.letters1 {
  font-size: 32px;
}

/* Specific styling for .letters2 class */
.letters2 {
  font-size: 32px;
}

/* Media query for mobile responsiveness */
@media (max-width: 600px) {
  .notebook-header h1 {
    font-size: 48px;
  }

  .notebook-content {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    height: calc(100vh - 100px);
  }

  .notebook-content a {
    min-height: 0;
    padding: 20px;
    border: none;
    box-shadow: none;
  }
}
